* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header,
h2 {
    font-family: "Archivo", sans-serif;
}


.logo {
    height: 170px;
    width: 160px;
}

header {
    padding: 16px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
}

header nav ul {
    display: flex;
    gap: 20px;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 30px;
}

header nav li a {
    color: #222222;
    text-decoration: none;
}

header nav li a:hover {
    color: #1E3A8A;
}

#intro {
    padding: 40px 0;
}

#intro h2,
#quotation h2,
#about h2 {
    font-size: 50px;
    margin-bottom: 30px;
}


#intro .container,
#quotation .container,
#about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    gap: 30px;
    padding: 40px 0;
}

#intro .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 50px;
}

#intro .text-content {
    flex: 1;
    max-width: 600px;
}


#intro .text,
#quotation .text,
#quotation span{
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    text-align: justify;
}

#intro .image-content img {
    width: 470px;
    max-height: 450px;
}

#quotation .text-content-wraper{
    display: flex;
    gap: 300px;
}

#quotation .text-content{
    display: flex;
    max-width: 400px;
    max-height: 380px;
}

#quotation .text-content-right{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    max-height: 380px;
}

#quotation .text-content-right .text{
    margin-bottom: 64px;
}

#quotation span {
    display: block;
    margin-bottom: 0%;
    text-align: left;
}

#quotation a {
    display: inline-block;
    padding: 20px 40px;
    border: 2px solid #2E8B57;
    color: #2E8B57;
    font-size: 18px;
    text-decoration: none;
}

